.page {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    transition: all var(--transition-speed);
    background-image: url("background.png");
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex: 1;
    width: 100%;
}

.logo {
    height: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn_google {
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-primary-tint);
    padding: 10px 20px;
    font-size: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_google svg {
    font-size: 30px; 
}

.btn_discord{
    background-color: #5865f2;
    border: 1px solid var(--bg-primary-tint);
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_discord svg {
    font-size: 30px; /* Makes the icon larger */
}

.btn_google:hover {
    background-color: var(--bg-primary);
}

.btn_login {
    background-color: var(--blue);
    color: white;
    margin-top: 1rem;
}

.btn_login:hover {
    background-color: var(--blue-tint);
}