.page {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: all var(--transition-speed);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    width: 100%;
}

.logo {
    height: 2rem;
}

.or_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn_google {
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-primary-tint);
}

.btn_google:hover {
    background-color: var(--bg-primary);
}

.btn_login {
    background-color: var(--blue);
    color: white;
    margin-top: 1rem;
}

.btn_login:hover {
    background-color: var(--blue-tint);
}

.forgot_pass_link {
    font-weight: 400;
    color: #0066ff;
    margin-top: 1rem;
}